{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": true,
  "arrowParens": "avoid",
  "importOrder": [
    "^@nest/(.*)$",
    "^@auth/(.*)$",
    "^@config/(.*)$",
    "^@constants/(.*)$",
    "^@core/(.*)$",
    "^@entities/(.*)$",
    "^@guards/(.*)$",
    "^@modules/(.*)$",
    "^@shared/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": [
    "classProperties",
    "decorators-legacy",
    "typescript"
  ]
}